<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Silo</title>
		<meta
			name="description"
			content="A platform to auto-correct your dead-lettered messages and make integration simpler for event-driven systems. Azure Service Bus, AWS SQS, RabbitMQ, ..." />
		<link
			rel="shortcut icon"
			href="<%= require('./assets/images/favicon.png')%>"
			type="image/x-icon" />
		<script async defer src="https://buttons.github.io/buttons.js"></script>
	</head>
	<body>
		<nav class="navbar js-navbar wrapper">
			<a class="site-logo-box" href="index.html">
				<img
					src="<%= require('./assets/images/logo.svg')%>"
					alt="Message Silo logo"
					class="site-logo" />
			</a>
			<button
				class="burger js-burger"
				aria-label="Toggle menu"
				aria-expanded="false">
				<span class="burger-line"></span>
				<span class="burger-line"></span>
				<span class="burger-line"></span>
			</button>
			<ul class="nav-links js-nav-links">
				<li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="#why" class="nav-link">Why</a></li>
				<li class="nav-item">
					<a href="#features" class="nav-link">Features</a>
				</li>
				<li class="nav-item">
					<a href="#find-us" class="nav-link">Find Us</a>
				</li>
			</ul>
		</nav>
		<header class="site-header">
			<section class="header-row row wrapper">
				<div class="col">
					<div class="row-info">
						<h1 id="home" class="site-title gradient-text">Message Silo</h1>
						<h2 class="site-subtitle">
							Clean up the mess of <em>messages</em>
						</h2>
						<p class="text-lg section-text">
							A tool to fix or enrich messages with the power of AI, and make
							integration simpler for event-driven systems
						</p>
						<a
							href="https://github.com/MessageSilo/MessageSilo/wiki/01.-Getting-Started"
							class="btn btn-primary"
							target="_blank"
							>Get Started</a
						>
					</div>
				</div>
				<div class="col">
					<img
						src="<%= require('./assets/images/cubes.svg') %>"
						alt="Illustration - cubes"
						loading="lazy"
						class="img-large" />
				</div>
			</section>
		</header>
		<main class="site-content">
			<div class="divider wrapper"></div>
			<div class="bg-200">
				<section class="services wrapper">
					<figure class="service">
						<div class="img-small-wrapper">
							<img
								class="img-small"
								loading="lazy"
								src="<%= require('./assets/images/service-bus.svg') %>"
								alt="Service bus logo" />
						</div>
						<figcaption class="service-name">Azure Service Bus</figcaption>
					</figure>
					<figure class="service">
						<div class="img-small-wrapper">
							<img
								class="img-small"
								loading="lazy"
								src="<%= require('./assets/images/rabbitmq.svg') %>"
								alt="RabbitMQ logo" />
						</div>
						<figcaption class="service-name">RabbitMQ</figcaption>
					</figure>
					<figure class="service">
						<div class="img-small-wrapper">
							<img
								class="img-small"
								loading="lazy"
								src="<%= require('./assets/images/aws-sqs.svg') %>"
								alt="AWS SQS Logo" />
						</div>
						<figcaption class="service-name">AWS SQS</figcaption>
					</figure>
				</section>
			</div>
			<section class="wrapper">
				<h2 id="why" class="text-center audience fw-medium">
					<em class="fw-bold">Created for developers</em> who need to handle
					special cases of dead-lettered messages in different message-brokers
				</h2>
				<div class="advantage-cards">
					<div class="advantage-card">
						<article class="card-content">
							<div class="simple card-image-box">
								<img
									loading="lazy"
									src="<%= require('./assets/images/simple.svg') %>"
									alt="Illustration - Simple icon"
									class="card-image" />
							</div>
							<h3 class="card-title">Simple</h3>
							<p class="card-text">
								You can control your message processing with a unified
								configuration.
							</p>
						</article>
					</div>
					<div class="advantage-card">
						<article class="card-content">
							<div class="dev-friendly card-image-box">
								<img
									loading="lazy"
									src="<%= require('./assets/images/dev_friendly.svg') %>"
									alt="Illustration - Developer Friendly icon"
									class="card-image" />
							</div>
							<h3 class="card-title">Developer Friendly</h3>
							<p class="card-text">
								Full control by our CLI called siloctl. Manage your connections
								in YAML files.
							</p>
						</article>
					</div>
					<div class="advantage-card">
						<article class="card-content">
							<div class="free card-image-box">
								<img
									loading="lazy"
									src="<%= require('./assets/images/free.svg') %>"
									alt="Illustration - Free icon"
									class="card-image" />
							</div>
							<h3 class="card-title">Free</h3>
							<p class="card-text">
								Run inside your environment with Docker. Try it now!
							</p>
						</article>
					</div>
				</div>
			</section>
			<section class="features">
				<section class="row swap wrapper">
					<div class="col">
						<div class="row-info">
							<h2 id="features" class="section-title">
								Correct your dead-lettered <em>messages</em>
							</h2>
							<p class="text-md section-text">
								You can define a custom JavaScript function that is called for
								every dead-letter message. Transform the message and re-enqueue
								it automatically!
							</p>
							<strong class="example fw-bold"
								>siloctl apply -f myconn.yaml</strong
							>
							<a
								href="https://github.com/MessageSilo/MessageSilo/wiki/04.-Examples"
								target="_blank"
								class="btn btn-primary"
								>See more examples</a
							>
						</div>
					</div>
					<div class="col">
						<img
							loading="lazy"
							srcset="
							<%= require('./assets/images/mobile/messages_min.webp') %>  400w,
							<%= require('./assets/images/messages.webp') %>            1045w
							"
							sizes="(max-width: 1000px) 400px, 1045px"
							src="<%= require('./assets/images/messages.webp') %>"
							alt="Illustration - messages"
							class="img-large" />
					</div>
				</section>
				<div class="bg-200">
					<section class="row wrapper">
						<div class="col">
							<div class="row-info">
								<h2 class="section-title">
									Simplifies integration between <em>systems</em>
								</h2>
								<p class="text-md section-text">
									You can define a custom JavaScript function that is called for
									every dead-letter message. Transform the message and
									re-enqueue it automatically!
								</p>
								<a
									href="https://github.com/MessageSilo/MessageSilo/wiki/01.-Getting-Started"
									target="_blank"
									class="btn btn-primary"
									>Try it free</a
								>
							</div>
						</div>
						<div class="col">
							<img
								loading="lazy"
								srcset="
								<%= require('./assets/images/mobile/systems_min.webp') %> 400w,
								<%= require('./assets/images/systems.webp') %>            606w
								"
								sizes="(max-width: 1000px) 400px, 606px"
								src="<%= require('./assets/images/systems.webp') %>"
								alt="Illustration - systems"
								class="img-large" />
						</div>
					</section>
				</div>
				<section class="row wrapper swap">
					<div class="col">
						<div class="row-info">
							<h2 class="section-title">
								Call your own APIs without <em>coding</em>
							</h2>
							<p class="text-md section-text">
								Send the corrected messages to your own endpoints, or enrich the
								message with your own business logic!
							</p>
							<strong class="example fw-bold"
								>siloctl apply -f myconn.yaml</strong
							>
						</div>
					</div>
					<div class="col">
						<img
							loading="lazy"
							srcset="
							<%= require('./assets/images/mobile/coding_min.webp') %> 400w,
							<%= require('./assets/images/coding.webp') %>            686w
							"
							sizes="(max-width: 1000px) 400px, 686px"
							src="<%= require('./assets/images/coding.webp') %>"
							alt="Illustration - coding"
							class="systems-img img-large" />
					</div>
				</section>
			</section>
			<section class="contact wrapper">
				<div class="github-wrapper">
					<h2 id="find-us" class="github-title">
						Message Silo is fully open-source. Follow us on GitHub!
					</h2>
					<div class="github-links">
						<a
							class="github-button"
							href="https://github.com/MessageSilo/MessageSilo"
							data-color-scheme="no-preference: light; light: light; dark: light;"
							data-size="large"
							data-show-count="true"
							aria-label="Star MessageSilo/MessageSilo on GitHub"
							>Star</a
						>
					</div>
				</div>
			</section>
		</main>
		<footer class="site-footer">
			<nav class="footer-nav wrapper">
				<div class="footer-logo">
					<img
						loading="lazy"
						src="<%= require('./assets/images/logo.svg') %>"
						alt="Message Silo logo" />
					<h3>Message Silo</h3>
				</div>
				<ul class="footer-nav-list">
					<li><h4 class="list-title">Resources</h4></li>
					<li class="resource-item">
						<a href="#home" class="footer-nav-link">Home</a>
					</li>
					<li class="resource-item">
						<a
							href="https://github.com/MessageSilo/MessageSilo/wiki"
							target="_blank"
							class="footer-nav-link"
							>Documentation</a
						>
					</li>
					<li class="resource-item">
						<a
							href="https://github.com/MessageSilo/MessageSilo/wiki/01.-Getting-Started"
							target="_blank"
							class="footer-nav-link"
							>Getting Started</a
						>
					</li>
				</ul>
				<ul class="footer-nav-list">
					<li><h4 class="list-title">Contact Us</h4></li>
					<li class="list-item-email" tabindex="0">berkid89[at]gmail[.]com</li>
					<li class="list-item-website" tabindex="0">www.message-silo.dev</li>
				</ul>
			</nav>
			<div class="divider wrapper"></div>
			<div class="copyright-bar wrapper">
				<p class="copy">2024 © copyright reserved by Message Silo</p>
				<ul>
					<li><a class="footer-nav-link" href="#">Privacy Policy</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
